<!DOCTYPE html>
<html lang="en">
<title>{{error}}</title>
<script type="text/javascript" src="/static/model.js"></script>
<link rel="stylesheet" href="/static/news.css" type="text/css">
<body class="error_body">
  <div id="main">
    	<div class="fof">
        		<h1>Error {{error}}</h1>
				{% if error == '404' %}
					<p>Not Found. Maybe an Invalid Route ? Maybe the page been moved to another URL ?</p>
				{% endif %}
				{% if error == '403' %}
					<p>Forbidden</p>
				{% endif %}
				{% if error == '400' %}
					<p>Bad Request</p>
				{% endif %}
				{% if error == '429' %}
					<p>Too Many Requests</p>
				{% endif %}
				{% if error == '500' %}
					<p>Internal Server Error</p>
				{% endif %}
				{% if error == '502' %}
					<p>Bad Gateway</p>
				{% endif %}
				{% if error == '503' %}
					<p>Service Unavailable</p>
				{% endif %}
				<p style="padding-top: 50px;">Return to <a href="{{url_for('home')}}" style="color: #FFEDDA;"><b>Home</b></a></p>
    	</div>
</div>
</body>
</html>